@model HotelReservation.Models.Testimonial

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Testimonial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Userloginid2Navigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Userloginid2Navigation.Userloginid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Testimonialid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
