@model HotelReservation.Models.Expenseamount

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<br />
<br />
<br />
<br />

<h1>Details</h1>

<div>
    <h4>Expenseamount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expensetype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expensetype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expensedate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expensedate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Expenseid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
