@model Tuple<IEnumerable<Room>,Customer,Page, Page, Page>

@{
    ViewData["Title"] = "Rooms";
    Layout = null;
}
@{
}

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">

    <!-- Site Metas -->
    <title>Food Funday Restaurant - One page HTML Responsive</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/HomePage/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/HomePage/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/HomePage/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/HomePage/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/HomePage/css/responsive.css">
    <!-- color -->
    <link id="changeable-colors" rel="stylesheet" href="~/HomePage/css/colors/orange.css" />

    <!-- Modernizer -->
    <script src="~/HomePage/js/modernizer.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    @{
        var id = ViewBag.Id; // Get the ID value from ViewBag
    }


    <div id="loader">
        <div id="status"></div>
    </div>

    @{
        var userProfileImage = ViewBag.Image as string;
        var profileImageUrl = Url.Content($"~/images/{userProfileImage}");

        var pageImage = ViewBag.PageImage as string;
        var pageImageUrl = Url.Content($"~/images/{pageImage}");

        var aboutImage = ViewBag.AboutImage as string;
        var aboutImageUrl = Url.Content($"~/images/{aboutImage}");

        var defaultImageUrl = Url.Content("~/images/default-profile-image.jpg");

        var userName = ViewBag.Name as string;
        var userEmail = ViewBag.Email as string;

        var isLoggedIn = userName != null;

    }

    <div id="about" class="about-main  pad-bottom-100">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">                
                <li>
                    <div  style="text-align: right; font-size: 12px; padding: 25px;">
                        <a href="@Url.Action("Index")#Hotel" class="table-btn hvr-underline-from-center" style="font-size: 12px; padding: 4px 8px;">Back to Home Page</a>
                    </div>
                </li>
                <li class="profile-icon" style="position: relative;text-align: right;padding-right:25px;">
                    <a href="#" id="profile-icon" style="display: inline-block;">
                        <img src="@profileImageUrl" alt="Profile" width="40" height="40" class="img-circle" onerror="this.src='@defaultImageUrl'" style="border-radius: 50%; cursor: pointer;">
                    </a>

                    <!-- Popover box -->
                    <div id="profile-popover" style="display: none; position: absolute; top: 50px; right: 0; background-color: white; border: 1px solid #ccc; padding: 10px; border-radius: 5px; box-shadow: 0 2px 10px rgba(0,0,0,0.2); z-index: 1000; width: 200px;">
                        @if (isLoggedIn)
                        {
                            <div style="text-align: left;">
                                <p style="margin: 0; font-weight: bold;">@userName</p>
                                <p style="margin: 0; margin-bottom: 10px;">@userEmail</p>
                                <hr style="margin: 10px 0;">
                                <a href="@Url.Action("Profile")" style="display: block; color: #007bff; text-decoration: none; margin-top: 5px;">View Profile</a>
                                <a href="@Url.Action("Logout", "Home")" style="display: block; color: #007bff; text-decoration: none; margin-top: 5px;">Logout</a>
                            </div>
                        }
                        else
                        {
                            <div style="text-align: center;">
                                <a href="@Url.Action("Login", "RegisterAndLogin", new { returnUrl = Context.Request.Path })">Login to your profile</a>
                            </div>
                        }
                    </div>
                </li>
            </ul>
       </div>

        <br /><br />
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                            
                            @if (id == 1)
                            {
                            <h1 class="block-title text-center">Welcome in @ViewBag.Hotelname1</h1>
                            }
                            else if (id == 2)
                            {
                            <h1 class="block-title text-center">Welcome in @ViewBag.Hotelname2</h1>
                            }
                            else if (id == 3)
                            {
                            <h1 class="block-title text-center">Welcome in @ViewBag.Hotelname3</h1>
                            }
                            else
                            {
                                <p>No data available for the given ID.</p>
                            }
                        
                        <br />
                        <h3 class="block-title text-center">
                            Rooms & Suites
                        </h3>
                            @if (id == 1)
                            {
                                <p class="wow fadeIn text-center">@ViewBag.Hotelcontant1</p>
                            }
                            else if (id == 2)
                            {
                            <p class="wow fadeIn text-center">@ViewBag.Hotelcontant2</p>
                            }
                            else if (id == 3)
                            {
                            <p class="wow fadeIn text-center">@ViewBag.Hotelcontant3</p>
                            }
                            else
                            {
                            <p>No data available for the given ID.</p>
                            }
                    </div>
                    <div class="team-box">
                        <div class="row">
                            <div class="container">
                                <!-- <div class="p-3 mb-2 bg-dark text-white text-center font-weight-bold">Room</div>-->
                                <div class="row">
                                    <div class="col-12">                                       
                                    </div>
                                    <br /><br />
                                    @foreach (var item in Model.Item1)
                                    {
                                        <div class="col-md-4 col-sm-6" style="margin-bottom: 25px;">
                                            <div class="sf-team">
                                                <div class="thumb">
                                                    <img class="card-img-top" src="@Url.Content("~/Images/" + item.Imagepath)"
                                                         asp-append-version="true" alt="Room Image" style="height: 200px; object-fit: cover;">
                                                </div>
                                                <div class="text-col">
                                                    <h5 class="card-title">@item.Roomtype</h5>
                                                    <p class="card-text"><strong>Price:</strong> @item.Price</p>
                                                    @if (isLoggedIn)
                                                    {
                                                        <a href="@Url.Action("payment", "Home", new { roomId = item.Roomid })" class="btn btn-dark">Book it</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="#" id="disabled-book-link" class="btn btn-dark" style="cursor: not-allowed; color: gray;" onclick="alert('You must be logged in to book a room.'); return false;">Book it</a>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                    }

                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                    </div>
                    <!-- end team-box -->
                </div>
                <!-- end col -->              
            </div>
            <!-- end row -->            
        </div>
        <!-- end container -->
        <br /><br>
        <div class="book-btn" style="text-align:center">
            <a href="@Url.Action("Index")#Hotel" class="table-btn hvr-underline-from-center ">Back to Home Page</a>
        </div>
    </div>
    <!-- end team-main -->


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var disabledBlogLink = document.getElementById('disabled-blog-link');

            if (disabledBlogLink) {
                disabledBlogLink.addEventListener('click', function (e) {
                    e.preventDefault();
                    alert("You must log in to your account to view the blog.");
                });
            }
        });
    </script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var profileIcon = document.getElementById('profile-icon');
            var profilePopover = document.getElementById('profile-popover');

            profileIcon.addEventListener('click', function (e) {
                e.preventDefault();
                profilePopover.style.display = profilePopover.style.display === 'none' ? 'block' : 'none';
            });

            document.addEventListener('click', function (e) {
                if (!profileIcon.contains(e.target) && !profilePopover.contains(e.target)) {
                    profilePopover.style.display = 'none';
                }
            });
        });

    </script>

    <a href="#" class="scrollup" style="display: none;">Scroll</a>

    </script>
    <!-- ALL JS FILES -->
    <script src="~/HomePage/js/all.js"></script>
    <script src="~/HomePage/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/HomePage/js/custom.js"></script>
</body>

</html>
