@model IEnumerable<HotelReservation.Models.Bank>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<br />
<br />
<br />
<br />
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bankname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cardnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expirydate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cardholdername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cvv)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bankname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cardnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expirydate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cardholdername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cvv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Bankid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Bankid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Bankid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
