@model HotelReservation.Models.Contact

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<br />
<br />
<br />
<br />
<h1>Details</h1>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contactusname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contactusname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contactusemail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contactusemail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contactusdescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contactusdescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logintime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logintime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Contactusid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
